  <div class="header-content">
    <div class="search-container">
      <input
        matInput
        [formControl]="searchControl"
        placeholder="Search users..."
        class="search-input"
        (focus)="showSuggestions = true"
        (blur)="onInputBlur()"
      >

      <div *ngIf="isSearching" class="search-loading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>

      <button
        *ngIf="searchControl.value"
        mat-icon-button
        class="clear-button"
        (click)="clearSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>

      <div *ngIf="showSuggestions && searchResults.length" class="suggestions-dropdown">
        <div
          *ngFor="let user of searchResults; let i = index"
          class="suggestion-item"
          [class.selected]="i === selectedIndex"
          (click)="navigateToUser(user.id)"
          (mouseenter)="selectedIndex = i"
        >
          <img [src]="user.avatar" alt="User Avatar" class="user-avatar">
          <div class="user-info">
            <div class="user-name">
              {{ user.first_name }} {{ user.last_name }}
            </div>
            <div class="user-email">
              {{ user.email }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showSuggestions && !isSearching && !searchResults.length" class="no-results">
        No users found
      </div>
    </div>
  </div>